<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body class="bg-info">
<form action="" class="=p-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" class="form-control">

    <label for="email" class="form-label">Email Address</label>
    <input type="email" id="email" class="form-control">

    <label for="pwd" class="form-label">Password</label>
    <input type="password" id="pwd" class="form-control">

    <button class=" btn btn-warning" type="submit">Submit</button>
</form>

</body>
</html>